---

---

<div class="rc-button-group">
    <div part="base" class="button-group">
        <slot/>
    </div>
</div>

<style>
    .rc-button-group {
        align-self: center;
        --track-color: transparent;
        position: relative;
    }

    .button-group {
        display: flex;
        flex-wrap: nowrap;
    }
</style>