---
import Layout from "../../layouts/Layout.astro";
import ProductSpotlight from "../../components/ProductSpotlight.astro";


---

<Layout title="Signal sources">
	<div class="signal-sources-page">
		<ProductSpotlight />

		<div class="product-collections-container">
			<div>Collection 1</div>
			<div>Collection 2</div>
			<div>Collection 3</div>
			<div>Collection 4</div>
			<div>Collection 5</div>
			<div>Collection 6</div>
		</div>
	</div>
</Layout>
