---
import ButtonComponent from "../ButtonComponent/ButtonComponent.astro";


---

<div>
    <div class="sign-in-container">
        <span class="sign-in-text">Sign in</span>

        <ButtonComponent>
            <img class="person-logo" src="https://apps.microsoft.com/assets/icons/person-loggedout-light.svg">
        </ButtonComponent>
    </div> 
</div>

<style>
    .sign-in-container {
        gap: 8px;
        align-items: center;
        cursor: pointer;
        white-space: nowrap;
    }

    .profile-container, .msft-account-container, .open-library-container, .sign-in-container, .top-container {
        display: flex;
        flex-direction: row;
    }

    .profile-name, .open-library-text, .sign-in-text, .signed-out-msft-account-text {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
    }
    .sign-in-text {
        line-height: 20px;
    }

    @media (prefers-color-scheme: dark) {
        .sign-in-text {
            color: #FFFFFFC8;
        }
    }    

    .person-logo {
        position: relative;
        width: 16px;
        height: 16px;
        top: 3px;
    }
</style> 