---
import Button from "../Button.astro";
---

<div class="current-user">
    <div class="sign-in-container">
        <span class="sign-in-text">Sign in</span>

        <Button href="">
            <img class="person-logo" src="https://apps.microsoft.com/assets/icons/person-loggedout-light.svg">
        </Button>
    </div>
</div>