---
import { currentUser } from "../../identity";
import AnonymousUser from "../CurrentUser/AnonymousUser.astro";
import AuthorizedUser from "../CurrentUser/AuthorizedUser.astro";
---

<div class="auth-control user-circle-btn">
    {
        !currentUser.isAuthenticated ? (<AnonymousUser/>) : (<AuthorizedUser/>)
    }
</div>