---
import { currentUser } from "../../identity";
import AnonymousUser from "./AnonymousUser.astro";
---

<div class="current-user">
    {
        currentUser.isAuthenticated ? 
            (<div></div>) : 
            (<AnonymousUser/>)
    }
</div>