---
import Button from "../Button.astro";
---

<div>
    <div class="psi-container">
        <div part="base" class="buy-box">
            <div class="psi-cta-container">
                <Button href="">
                    <span>Download</span>
                </Button>
                <Button href="">
                    <div class="view-in-store-container">
                        <img class="store-icon" src="https://apps.microsoft.com/assets/icons/light-logo-32x32.svg">
                        <p>View in store</p>
                    </div>
                </Button>
            </div>

            <div part="buy-info" class="buy-info margin-download">
                <span>Offers in-app purchases</span>
            </div>
        </div>
        <p class="post-download-text"></p>
    </div>
</div>