---
import Button from "../Button.astro";

const { productId, productName } = Astro.props;
---

<div>
    <div class="blur-img">

    </div>

    <div class="app-info-container psi-download-offset">
        <div class="image-logo-container">
            <img class="logo view-transition" src="https://store-images.s-microsoft.com/image/apps.40518.14127333176902609.7be7b901-15fe-4c27-863c-7c0dbfc26c5c.5c278f58-912b-4af9-88f8-a65fff2da477?h=210">
        </div>
    
        <div class="app-info">
            <h1 class="title view-transition">{productName}</h1>
            
            <p class="subtitle">
                <Button href="">
                    {productId}
                </Button>
            </p>
    
            <div class="reviews-age-rating-container">
            </div>
    
            <div class="buy-box-container">
    
            </div>
        </div>
    </div>
</div>