---
import './ButtonComponent.scss';
type Props = {
    href: string;
}

const { href } = Astro.props;

---

<div>
    <a part="base" href={href}
        class="button button--primary button--large button--standard button--has-label">
        <slot part="label" class="button__label"/>
    </a>
</div>
