---
import { apiService } from "../../../api-service";
import Layout from "../../../layouts/Layout.astro";

const { signalSourceId } = Astro.params;
const signalSource = await apiService.getSignalSourceById(signalSourceId as string);

---
<Layout pageTitle={ signalSource.name }>
    <div>{signalSource.name}</div>
    <div>{signalSource.description}</div>
    <div>{signalSource.isPublished}</div>
    <div>{signalSource.createdTime}</div>
</Layout>

<style>
</style>