---
import { apiService } from "../../../api-service";
import Layout from "../../../layouts/Layout.astro";

const { signalSourceId } = Astro.params;

const signalSource = await apiService.getSignalSourceById(signalSourceId as string);
console.log(signalSource);
---

<Layout title="">
    <div class="signal-source-details-page">
        <div class="details-container product-details">
            <div class="product-header">
                <div class="blur-img"></div>
                <div class="signal-source-info-container psi-download-offset">
                    <div class="image-logo-container">
                        <img src='https://via.placeholder.com/150'>
                    </div>
            
                    <div class="signal-source-info">
                        <h1>{ signalSource.name }</h1>
                        <div class="subtitle">
                            <div>{ signalSource.description }</div>
                        </div>
                        <div class="reviews-age-rating-container"></div>
                        <div class="buy-box-container">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="sticky-header"></div>

            <div class="details two-column" dir="ltr">
                <div class="left-side"></div>
                <div class="product-recommendation"></div>
            </div>
        </div>
    </div>
</Layout>

<style>
</style>