
$body-font: 'Segoe UI Variable Text', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;

html, body {
    font-family: $body-font;
    font-feature-settings: "fina" on, "init" on;
    color: #fff;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #101010;
}	