$layout-width: calc(100% - calc(100px + 2 * 3rem));
$theme-header-background-color: #000000;

$rc-font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$rc-spacing-large: 1.25rem;
$rc-spacing-medium: 1rem;
$rc-input-border-width: 1px;
$rc-input-font-family: $rc-font-family-sans;
$rc-font-weight-semibold: 500;
$rc-transition-x-fast: 50ms;
$rc-input-height-medium: 2.5rem;
$rc-button-font-size-medium: 0.875rem;
$rc-input-border-width: 1px;
$rc-input-border-radius-medium: 0.25rem;
$rc-spacing-2x-small: 0.25rem;

$color-primary-600: rgb(66 136 202);
$color-neutral-600: hsl(240 5.3% 58%);

header {
    background-color: $theme-header-background-color;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    width: $layout-width;
    padding-left: 0px;
    padding-right: 0px;
    transition: box-shadow 0.2s ease-in-out;
    margin: auto;
}

// Button group
.rc-button-group {
    align-self: center;
    --track-color: transparent;
    position: relative;
}

@media (max-width: 1145px) {
    .circle:not(.shown), 
    .open-store-btn:not(.shown), 
    .mobile-search-btn:not(.shown), 
    .rc-button-group:not(.shown), 
    .mobile-button-container:not(.shown), 
    .store-button-container:not(.shown), 
    .user-circle-btn:not(.shown) {
        display: flex;
    }
}

.button-group {
    display: flex;
    flex-wrap: nowrap;
}

// Button
.button {
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    border-style: solid;
    border-width: $rc-input-border-width;
    font-family: $rc-font-family-sans;
    font-weight: $rc-font-weight-semibold;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0px;
    transition: $rc-transition-x-fast background-color, $rc-transition-x-fast color, $rc-transition-x-fast border, $rc-transition-x-fast box-shadow;
    cursor: inherit;
}
.button--text {
    background-color: transparent;
    border-color: transparent;
    color: $color-primary-600;
}
.button__label {
    display: inline-block;
}

.button--medium {
    height: auto;
    min-height: $rc-input-height-medium;
    font-size: $rc-button-font-size-medium;
    line-height: calc($rc-input-height-medium - var(--sl-)* 2);
    border-radius: $rc-input-border-radius-medium;
}

.rc-button-group > .rc-button::part(base) {
    padding-top: $rc-spacing-2x-small;
    padding-bottom: $rc-spacing-2x-small;
    font-weight: 600;
    border-radius: 4px;
}

:host([data-sl-button-group__button--inner]) .button {
    border-radius: 0px;
}

.rc-button-group > .rc-button:not(.active)::part(base) {
    color: $color-neutral-600;
}

.button--has-label.button--medium .button__label {
    padding: 0 $rc-spacing-medium;
}

.rc-button-group > .rc-button::part(label) {
    padding: 0 $rc-spacing-large;
}