---
import MenuItemComponent from '../components/MenuItemComponent.astro';
import Layout from '../layouts/Layout.astro';

---
<Layout pageTitle="Home">
    <MenuItemComponent>
        <img width="16" height="16" src="https://apps.microsoft.com/assets/icons/msft-store-grey-light.svg">
        <span class="open-library-text">View library in Store app</span>
    </MenuItemComponent>
</Layout>

<style>
    .open-library-text {
    }
</style>
