---
import FooterMenu from '../components/FooterMenu/FooterMenu.astro';
import Layout from '../layouts/Layout.astro';

---
<Layout pageTitle="Home">
    <div class="lazy-load"><FooterMenu /></div>
</Layout>

<style>

</style>
