---
import ButtonComponent from '../components/ButtonComponent/ButtonComponent.astro';
import CardComponent from '../components/CardComponent/CardComponent.astro';
import DropdownComponent from '../components/DropdownComponent/DropdownComponent.astro';
import MenuComponent from '../components/MenuComponent/MenuComponent.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Home">
    <ButtonComponent href="/">
        <span>
            Download
        </span>
    </ButtonComponent>
    
    <DropdownComponent>
    </DropdownComponent>

    <CardComponent>
    </CardComponent>

    <MenuComponent>
    </MenuComponent>
</Layout>

<style>
</style>
