---
import BrandLogoLink from '../components/BrandLogoLink.astro';
import ButtonComponent from '../components/ButtonComponent/ButtonComponent.astro';
import ButtonGroupComponent from '../components/ButtonGroupComponent/ButtonGroupComponent.astro';
import Layout from '../layouts/Layout.astro';

const pages = [
    {
        title: 'Home',
        link: '/',
    },
    {
        title: 'Trading apps',
        link: '/trading-apps',
    },
    {
        title: 'Signal sources',
        link: '/signal-sources',
    },
    {
        title: 'About',
        link: '/about',
    },
]
---

<Layout pageTitle="Home">
    <BrandLogoLink />

    <ButtonGroupComponent>
        {
            pages.map(page => (
                <ButtonComponent href={page.link}>
                    <span class="tab-label">{ page.title }</span>
                </ButtonComponent>
            ))
        }
        <div class="indicator" style="width: 39px; translate: 0px;"></div>
    </ButtonGroupComponent>
</Layout>

<style>
    .tab-label {
        all: unset;
    }
 
    @media (prefers-color-scheme: dark) {
        .indicator {
            border-color: #60CDFF;
        }
    }    
</style>
