---
import ProductSpotlight from '../components/ProductSpotlight.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<div class="home-page">
		<ProductSpotlight />

		<div class="product-collections-container">
			<div>Collection 1</div>
			<div>Collection 2</div>
			<div>Collection 3</div>
			<div>Collection 4</div>
			<div>Collection 5</div>
			<div>Collection 6</div>
		</div>
	</div>
</Layout>

<style>
	.product-collection-container {
		display: flex;
		flex-direction: column;
		margin: 0px 38px;
		gap: 3rem;
	}
</style>
