---

---

<div class="sign-in-container">
    <div class="sign-in-text">
        Sign in
    </div>
    
    <div class="circle sl-button">
        <img class="person-logo" src="https://apps.microsoft.com/assets/icons/person-loggedout-light.svg"/>
    </div>
</div>     

<style>
    .sign-in-container {
        gap: 8px;
        align-items: center;
        cursor: pointer;
        white-space: nowrap;
    }

    .sign-in-container {
        display: flex;
        flex-direction: row;
    }

    .sign-in-text {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
    }

    .sign-in-text {
        line-height: 20px;
    }

    @media (prefers-color-scheme: dark) {
        .sign-in-text {
            color: rgba(255, 255, 255, 0.784);
        }
    }    
</style>