---
import CopyRight from "./CopyRight.astro"
import FooterMenuGroup from "./FooterMenuGroup.astro"

const menuGroups = [
    {
        title: "What's New",
        items: [
            {
                title: 'More content in the Microsoft Store',
                route: '/'
            },
            {
                title: 'Apps',
                route: '/'
            },
            {
                title: 'Games',
                route: '/',
            },
            {
                title: 'Movies & TV',
                route: '/',
            },
            {
                title: 'Windows Experience Blog',
            }
        ]
    },
    {
        title: 'Microsoft Store',
        items: [
            {
                title: 'Microsoft account',
                route: '/'
            },
            {
                title: 'Microsoft Store support',
                route: '/'
            },
            {
                title: 'Returns',
                route: '/',
            },
            {
                title: 'Flexible payments',
                route: '/',
            },
            {
                title: 'Policies and Code of Conduct',
                route: '/',
            }
        ]
    },
    {
        title: 'For Developers',
        items: [
            {
                title: 'Publish your app',
                route: '/'
            },
            {
                title: 'Advertise with us',
                route: '/'
            },
            {
                title: 'Generate your app badge',
                route: '/',
            }
        ]
    },
    {
        title: 'Windows',
        items: [
            {
                title: 'Careers',
                route: '/'
            },
            {
                title: 'About Microsoft',
                route: '/'
            },
            {
                title: 'Company news',
                route: '/',
            },
            {
                title: 'Investors',
                route: '/',
            },
            {
                title: 'Diversity and inclusion',
                route: '/',
            },
            {
                title: 'Accessibility',
                route: '/',
            },
            {
                title: 'SecuritySustainability',
                route: '/',
            },
        ]
    },
]

const footerLinks = [
    {
        title: 'Contact Microsoft',
        route: '/',
    },
    {
        title: 'Privacy',
        route: '/',
    },
    {
        title: 'Consumer Health Privacy',
        route: '/',
    },
    {
        title: 'Terms of use',
        route: '/',
    },
    {
        title: 'Trademarks',
        route: '/',
    },
    {
        title: 'Safety & eco',
        route: '/',
    },
    {
        title: 'Recycling',
        route: '/',
    },
    {
        title: 'About our ads',
        route: '/',
    },
]
---

<div class="app-footer">
    <footer class="footer-container">
        <div>
            <div class="footer-wrapper">
                <div class="footer-primary-menu">
                    {
                        menuGroups.map(group => (<FooterMenuGroup group={group} />))
                    }
                </div>

                <div class="footer-secondary-menu">
                    <div class="sec-container">
                        <div class="language-selector">
                        </div>

                        <a class="privacy-container" target="_blank" href="/">
                            <img class="privacy-icon" src="https://apps.microsoft.com/assets/icons/privacyoptions.svg" alt="">
                            <div class="sl-button">
                                Your privacy choices
                            </div>
                        </a>
                    </div>

                    <div class="sec-container">
                        {
                            footerLinks.map(link => (
                                <div class="sl-button"><a href={ link.route }>{ link.title }</a></div>   
                            ))
                        }
                        
                        <CopyRight />
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<style>
    
.footer-container {
    background-color: var(--sl-color-neutral-0);
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.footer-container > div {
    width: var(--layout-width);
    max-width: var(--max-width);
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 38px;
}

.footer-primary-menu {
    --card-spacing: var(--sl-spacing-small);
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-spacing);
}

.footer-secondary-menu {
    margin: 48px 0 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-group {
    display: flex;
    flex-direction: column;
    width: ${N("100%","var(--card-spacing)","var(--footer-column-num)")};
    gap: 8px;
    padding-top: 32px;    

}

.menu-group-title {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 16px;
    margin-top: 0;
}

.privacy-container {
    display: flex;
}

.privacy-icon {
    display: flex;
    width: auto;
    height: auto;
    align-self: center;
    width: 32px;
    height: 32px;
    padding-inline-end: 4px;
}

.sec-container {
    display:flex;
    flex-wrap:wrap;
    gap: 24px;
}

.sec-links::part(label) {
    line-height: calc(var(--sl-input-height-small) - var(--sl-input-border-width) * 2) !important;

}

.privacy-link {
    display: flex;
    flex-direction: row;
}

sl-button::part(label) {
    color: var(--sl-color-neutral-600);
    font-weight: normal;
    padding: 0px;
    min-height: 0px !important;
    overflow-wrap: break-word;
    max-width: 300px;
}

sl-button::part(base) {
    min-height: 0px;
    text-wrap: wrap;
    font-family: var(--body-font);
}

sl-button:hover::part(label) {
    text-decoration: underline;
}

.privacy-container:hover sl-button::part(label) {
    text-decoration: underline;
}
</style>