---
const footerMenuGroups = [
	{
		title: "What's New",
		items: [
			{
				title: 'More content in the Microsoft Store',
			},
			{
				title: 'Apps',
			},
			{
				title: 'Games',
			},
			{
				title: 'Movies & TV',
			},
			{
				title: 'Windows Experience Blog',
			},
		],
	},
	{
		title: "Microsoft Store",
		items: [
			{
				title: 'Microsoft account',
			},
			{
				title: 'Microsoft Store support',
			},
			{
				title: 'Returns',
			},
			{
				title: 'Flexible payments',
			},
			{
				title: 'Policies and Code of Conduct',
			},
		],
	},
	{
		title: "For Developers",
		items: [
			{
				title: 'Publish your app',
			},
			{
				title: 'Advertise with us',
			},
			{
				title: 'Generate your app badge',
			},
		],
	},
	{
		title: "Windows",
		items: [
			{
				title: 'Careers',
			},
			{
				title: 'About Microsoft',
			},
			{
				title: 'Company news',
			},
			{
				title: 'Investors',
			},
			{
				title: 'Diversity & inclusion',
			},
			{
				title: 'Accessibility',
			},
			{
				title: 'Sustainability',
			},
		],
	},
]
---

<div class="app-footer">
    <footer class="footer-container">
        <div>
            <div class="footer-wrapper">
                <div class="footer-primary-menu">
                    {
                        footerMenuGroups.map(group => (
                            <div class="menu-group">
                                <h2 class="menu-group-title">{ group.title }</h2>
                                {
                                    group.items.map(item => (
                                        <div class="menuitem">
                                            <button>{ item.title }</button>
                                        </div>
                                    ))
                                }
                            </div>
                        ))
                    }
                </div>

                <div class="footer-secondary-menu">
                    <div class="section-container"></div>
                    <div class="section-container"></div>
                </div>
            </div>
        </div>
    </footer>
</div>