---

---

<div class="app-header">
    <header>
        <nav>
            <div class="nav-bar">
                <div class="navbar-search-container">
                    <div class="skip-to-main"></div>
                    <div class="nav-buttons-container"></div>
                    <div class="right-element"></div>
                </div>
            </div>
        </nav>
    </header>
</div>