---
import { currentUser } from "../identity";

---
<div class="sl-dropdown">
    <div class="sl-button">
        <button class="button button--default button--small button--circle button-standard button--has-label">
            <img class="nav-user-image" src="blob:https://apps.microsoft.com/a551dd20-ece8-49e9-8171-ae8bd6df8a77">
        </button>
    </div>
    <div class="caret"></div>
    
    <div class="sl-menu">
        <div class="profile-sign-container">
            <div class="top-container">
                <img src="https://apps.microsoft.com/assets/icons/microsoft-auth-dark.svg"/>
                
                <div class="sign-out-btn">
                    <button>
                        <div class="sign-out-text">Sign out</div>
                    </button>
                </div>
            </div>
           
            <div class="profile-container">
                <div class="static-circle">
                    <img class="user-image" src="">
                </div>

                <div class="profile-info">
                    <div class="profile-name">{ currentUser.name }</div>
                    <div class="profile-email">{ currentUser.email }</div>
                </div>
            </div>

            <div class="msft-account-btn sl-button">
                <button>
                    <div class="msft-account-text">My Microsoft account</div>
                </button>
            </div>
        </div>

        <div class="divider-container"></div>
        
        <div class="menu-item-container">
            <div class="sl-menuitem">
                <img src="https://apps.microsoft.com/assets/icons/msft-store-grey-light.svg" width="16" height="16">
                <div class="open-library-text">View library in Store app</div>
            </div>
        </div>
    </div>
</div>