---

---
<div class="home-logo-link">
    <a><img class="msft-logo" src="https://apps.microsoft.com/assets/icons/microsoft-logo-light-1.png"></a>
    <a><img class="store-logo" src="https://apps.microsoft.com/assets/icons/microsoft-logo-light-2.png"></a>
</div>

<style>
</style>
