---
type Props = { href: string };

const { href } = Astro.props;

---

<div class="rc-button">
    <a part="base" href={ href } class="button button--text button--small button-standard button--has-label">
        <slot/>
    </a>
</div>