---
const currentYear = new Date().getFullYear();
---

<div class="copyright-text">
    &copy; Richill Capital { currentYear }
</div>

<style>
    .copyright-text {
        color: var(--sl-color-neutral-600);
        font-family: var(--body-font);
        font-size: 12px;
        display: flex;
        align-items: center;
        position: relative;
        bottom: 1px;
    }
</style>