---
import { currentUser } from "../identity";
import AnonymousUser from "./AnonymousUser.astro";
import AuthorizedUser from "./AuthorizedUser.astro";
---

<div class="auth-control user-circle-btn">
    {
        !currentUser.isAuthenticated ? (<AnonymousUser/>) : (<AuthorizedUser/>)
    }
</div>