<div class="brand-logo-link">
    <a href="/"><img class="msft-logo" src="https://apps.microsoft.com/assets/icons/microsoft-logo-light-1.png"></a>
    <a href="/"><img class="store-logo" src="https://apps.microsoft.com/assets/icons/microsoft-logo-light-2.png"></a>
</div>

<style lang="scss">
    .brand-logo-link {
        display: flex;
        width: 200px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .brand-logo-link img {
        align-self: center;
    }

    .msft-logo {
        width: 120px;
        height: 36px;
    }

    .store-logo {
        width: 54px;
        height: 36px;
    }

    .msft-logo, .store-logo {
        display: block;
        margin: 0px auto;
    }
</style>