<div>
    <div class="navbar-search-container">
        <div class="skip-to-main"></div>
        
        <div class="nav-buttons-container">
            <div class="home-logo-link"></div>
            <div class="button-group"></div>
        </div>

        <div class="right-elements">
            <div class="mobile-button-container"></div>
            <div class="auto-complete-app-search"></div>
            <div class="right-button-container"></div>
        </div>
    </div>
</div>