.rc-card {
    border-radius: 0.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(240 5.1% 15%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 18%);
    border: solid 1px hsl(240 4.6% 22%);
    border-radius: 0.5rem;
}
// Header
.card__header {
    display: block;
    border-bottom: solid 1px hsl(240 4.6% 22%);
    padding: calc(1.25rem / 2) 1.25rem;
}

.card:not(.card--has-image) 
.card__header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.rc-card::part(header) {
    border-color: rgb(230, 230, 230);
    margin: 0 1.5rem;
    padding: 1rem 0;
}

@media (prefers-color-scheme: dark) {
    .rc-card::part(header) {
        border-color: rgba(255, 255, 255, 0.082) !important;
    }
}    

.rc-card [slot="header"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rc-card [slot="header"] h2 {
    font-family: Segoe UI Variable Text, "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin: 0px;
    display: inline-block;
}    

// Body
.rc-card::part(body) {
    padding: 1.25rem 1.5rem;
}

.card__body {
    display: block;
    padding: 1.25rem;
}    