---
import NavBar from "./NavBar.astro";


---
<div class="app-header">
    <header class="sticky">
        <nav>
            <NavBar></NavBar>
        </nav>
    </header>
</div>

<style>
    .app-header {
        contain: layout;
        view-transition-name: main-header;
    }

    ::part(.app-header) {
        view-transition-name: app-header-transition;
    }
    
    header {
        background-color: #000000;
    }

    header.sticky {
        box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px -1px;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: ;
        padding-bottom: ;
        width: calc(100% - calc(100px + 2 * 3rem));
        padding-left: 0px;
        padding-right: 0px;
        transition: box-shadow 0.2s ease-in-out;
        margin: auto;
    }
</style>