---
import Brand from "./BrandLogo.astro"
import CurrentUser from "../CurrentUser/CurrentUser.astro"
import Navigation from "./Navigation.astro"
---

<div class="app-header">
    <header class="sticky">
        <nav>
            <div class="nav-bar">
                <div class="navbar-search-container">
                    <div class="skip-to-main">
                    </div>
                    
                    <div class="nav-buttons-container">
                        <Brand />
                        <Navigation/>
                    </div>

                    <div class="right-elements">
                        <div class="mobile-button-container"></div>
                        
                        <div class="auto-complete-app-search">
                            <div class="d-flex justify-content-center align-items-center">
                                <input type="text" placeholder="Search apps, games, movies, and more"> <!-- Placeholder NOT IMPLMENETED -->
                            </div>
                        </div>

                        <div class="right-button-container">
                            <div class="store-button-container">
                                <div class="sl-button open-store-btn">
                                    <a>
                                        <div class="row">
                                            <img class="small-logo" src="https://apps.microsoft.com/assets/icons/dark-logo-32x32.png" width="20" height="20" loading="lazy">
                                            <div class="open-store-text">Open Store app</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            </div>

                            <div class="current-user-shimmer">
                                <CurrentUser />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</div>

<style>
    .navbar-search-container {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1996px;
    }

    .nav-buttons-container {
        display: flex;
        justify-content: center;
    }

    .right-elements {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }

    .right-button-container {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .mobile-button-container,
    .store-button-container {
        display: flex;
    }

    .open-store-btn {
        align-self: center;
        transition: opacity 150ms ease-in-out;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .open-store-text {
        position: relative;
    }
</style>