---
import Button from "../Button.astro";
import Icon from "../Icon.astro";
import Input from "../Input.astro";
import VisuallyHidden from "../VisuallyHidden.astro";
---

<div class="auto-complete-app-search">
    <div class="app-search-container">
        <Input>
            <div slot="prefix">
                <Icon></Icon>
            </div>
        </Input>

        <VisuallyHidden></VisuallyHidden>

        <Button href=""></Button> <!-- Cancel button -->
    </div>
</div>