---
import { NAVIGATION_ITEMS } from "../../constants";
import Button from "../Button.astro";
import ButtonGroup from "../ButtonGroup.astro";
import BrandLogoLink from "./BrandLogoLink.astro";
---

<div class="nab-var">
    <div class="navbar-search-container">
        <Button href=""></Button> <!-- Skip to main -->

        <div class="nav-buttons-container">
            <BrandLogoLink></BrandLogoLink>

            <ButtonGroup>
                {
                    NAVIGATION_ITEMS.map(item => (
                        <Button href={item.route}>
                            <span class="tab-label">{item.title}</span>
                        </Button>
                    ))
                }
            </ButtonGroup>
        </div>

        <div class="right-elements">
        </div>
    </div>
</div>