---
const items = [
    {
        title: 'Home',
        route: '/',
    },
    {
        title: 'Trading apps',
        route: '/trading-apps',
    },
    {
        title: 'Signal sources',
        route: '/signal-sources',
    },
    {
        title: 'About',
        route: '/about',
    },
]
---
<div class="sl-button-group">
    {
        items.map(item => (
        <div class="sl-button">
            <a href={ item.route }>
                <div class="tab-label">{ item.title }</div>
            </a>
        </div>
        ))
    }
</div>