---
type Props = {
    href: string;
}

const { href } = Astro.props;
---

<div class="rc-button">
    <a class="button button--text button--medium button-standard button--has-label" href={href}>
        <slot part="label" class="button__label"/>
    </a>
</div>