---
import AppFooter from '../components/AppFooter.astro';
import '../styles/global.scss';

interface Props {
	title: string;
}

const { title } = Astro.props;

const items = [
	{
		title: 'Home',
		route: '/'
	},
	{
		title: 'About',
		route: '/about'
	},
]
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Richill Capital Community</title>
	</head>
	<body>
		<div class="app-index">
			<div class="app-header">
				<header class="sticky">
					<nav>
						<div class="nav-bar">
							<div class="navbar-search-container">
								<div class="skip-to-main"></div>
								<div class="nav-buttons-container">
									<div class="home-logo-link"></div>
									<div class="sl-button-group">
										{
											items.map(item => (
											<div class="sl-button">
												<a href={ item.route }>
													<div class="tab-label">{ item.title }</div>
												</a>
											</div>
											))
										}
									</div>
								</div>
								<div class="right-elements">
								</div>
							</div>
						</div>
					</nav>
				</header>
			</div>

			<div class="layout-container">
				<main>
					<div id="RouterOutlet">
						<slot/>
					</div>
					<div class="scroll-to-top-button"></div>
				</main>
			</div>

            <AppFooter />
		</div>
	</body>
</html>

<style is:global>


.footer-container {
    background-color: var(--sl-color-neutral-0);
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.footer-container > div {
    width: var(--layout-width);
    max-width: var(--max-width);
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 38px;
}

.footer-primary-menu {
    --card-spacing: var(--sl-spacing-small);
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-spacing);
}

.footer-secondary-menu {
    margin: 48px 0 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-group {
    display: flex;
    flex-direction: column;
    width: ${N("100%","var(--card-spacing)","var(--footer-column-num)")};
    gap: 8px;
    padding-top: 32px;    

}

.menu-group-title {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 16px;
    margin-top: 0;
}

.privacy-container {
    display: flex;
}

.privacy-icon {
    display: flex;
    width: auto;
    height: auto;
    align-self: center;
    width: 32px;
    height: 32px;
    padding-inline-end: 4px;
}

.sec-container {
    display:flex;
    flex-wrap:wrap;
    gap: 24px;
}

.sec-links::part(label) {
    line-height: calc(var(--sl-input-height-small) - var(--sl-input-border-width) * 2) !important;

}

.privacy-link {
    display: flex;
    flex-direction: row;
}

.copyright-text {
    color: var(--sl-color-neutral-600);
    font-family: var(--body-font);
    font-size: 12px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 1px;
}

sl-button::part(label) {
    color: var(--sl-color-neutral-600);
    font-weight: normal;
    padding: 0px;
    min-height: 0px !important;
    overflow-wrap: break-word;
    max-width: 300px;
}

sl-button::part(base) {
    min-height: 0px;
    text-wrap: wrap;
    font-family: var(--body-font);
}

sl-button:hover::part(label) {
    text-decoration: underline;
}

.privacy-container:hover sl-button::part(label) {
    text-decoration: underline;
}
</style>
