---
import '../styles/global.scss';

interface Props {
	pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={AppInfo.description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{pageTitle} - {AppInfo.name}</title>
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	
	<body>
		<slot />
	</body>
</html>

<style is:global>
</style>
