---
import AppFooter from '../components/AppFooter.astro';
import AppHeader from '../components/AppHeader.astro';
import '../styles/global.scss';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Richill Capital Community</title>
	</head>
	<body>
		<div class="app-index">
			<AppHeader />
	
			<div class="layout-container">
				<main>
					<div id="RouterOutlet">
						<slot />
					</div>
				</main>
			</div>
	
			<AppFooter />
		</div>
	</body>
</html>

<style is:global>
	.layout-container {
		height: 100%;
		display: flex;
		justify-content: center;
		flex: 1 1 0%;
	}
	
	#RouterOutlet {
		padding: 0px;
		min-height: 90vh;
	}

	main {
		width: calc(100% - calc(100px + 2 * 3rem));
		max-width: 1996px;
	}
</style>
