---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Richill Capital Community</title>
	</head>
	<body>
		<header>
			<div class="nav-buttons-container">
				<div>
					<button>Home</button>
					<button>Trading apps</button>
					<button>Signal sources</button>
					<button>About</button>
				</div>
			</div>
			<div>
				<input type="text" placeholder="Search apps, signal sources, and more"/>
				<div class="sign-in-container">
					<div>Sign in</div>
					<button><img src="/public/icons/person-loggedout-light.svg"/></button>
				</div>
			</div>
		</header>

		<slot />

		<footer>
		</footer>
	</body>
</html>

<style is:global>
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
