---
import { AppInfo } from '../app-info';
import AppHeader from '../components/AppHeader/AppHeader.astro';
import FooterMenu from '../components/FooterMenu/FooterMenu.astro';
import LazyLoad from '../components/LazyLoad.astro';
import ScrollToTopButton from '../components/ScrollToTopButton.astro';
import '../styles/global.scss';

interface Props {
	pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={AppInfo.description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{pageTitle} | {AppInfo.name}</title>
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	
	<body>
		<div id="app-index">
			<LazyLoad>
				<AppHeader />
			</LazyLoad>
		
			<div class="layout-container">
				<main>
					<div id="routerOutlet">
						<slot/>
					</div>
					<ScrollToTopButton />
				</main>
			</div>
			
			<LazyLoad>
				<FooterMenu />
			</LazyLoad>		
		</div>
	</body>
</html>

<style is:global>
</style>
