---
import { AppInfo } from '../app-info';
import AppFooter from '../components/AppFooter/AppFooter.astro';
import AppHeader from '../components/AppHeader/AppHeader.astro';
import '../styles/global.scss';

interface Props {
	pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={AppInfo.description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{pageTitle} - {AppInfo.name}</title>
		
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	
	<body>
		<div class="lazy-load"><AppHeader /></div>
		
		<div class="layout-container">
			<main>
				<div id="RouterOutlet">
					<slot />
				</div>
				<div class="scroll-to-top-button"></div>
			</main>
		</div>

		<div class="lazy-load"><AppFooter /></div>
	</body>
</html>

<style is:global>
</style>
