---
import { apiService } from "../../../api-service";

import Layout from "../../../layouts/Layout.astro";
import ProductHeader from "../../../components/Products/ProductHeader.astro";
import ProductRecommendation from "../../../components/Products/ProductRecommendation.astro";

const { tradingAppId } = Astro.params;

const tradingApp = await apiService.getTradingAppById(tradingAppId as string);
---

<Layout pageTitle={tradingApp.name}>
    <div class="details-container product-details">
        <ProductHeader productId={tradingApp.id} productName={tradingApp.name} category={tradingApp.category}></ProductHeader>
        
        <div class="details two-column">
            <div class="left-side">
            </div>

            <ProductRecommendation></ProductRecommendation>
        </div>
    </div>
</Layout>