---
import { apiService } from "../../../api-service";
import Layout from "../../../layouts/Layout.astro";

const { tradingAppId } = Astro.params;

const tradingApp = await apiService.getTradingAppById(tradingAppId as string);
---

<Layout pageTitle="">
    <div>
        TRADING APP
    </div>
</Layout>