---
import { apiService } from "../../../api-service";
import ProductHeader from "../../../components/Products/ProductHeader.astro";
import Layout from "../../../layouts/Layout.astro";

const { tradingAppId } = Astro.params;

const tradingApp = await apiService.getTradingAppById(tradingAppId as string);
---

<Layout pageTitle={tradingApp.name}>
    <div class="details-container product-details">
        <ProductHeader productId={tradingApp.id} productName={tradingApp.name}></ProductHeader>
        
        <div class="details two-column">

        </div>
    </div>
</Layout>