---

---
<div class="auto-complete-app-search">
    <div class="search-container">
        <input placeholder="Search apps, games, movies, and more"/>
    </div>
</div>

<style>
    .auto-complete-app-search {
        align-self: center;
        width: 100%;
        margin-inline-end: 1.75rem;
        margin-inline-start: 1.75rem;
        max-width: 600px;
    }

    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>