---
import { ImageProvider } from "../../../image-pvodier";
---

<div class="brand-logo-link">
    <a href="/"><img class="msft-logo" src={ImageProvider.MicrosoftLogoLight}></a>
    <a href="/"><img class="store-logo" src={ImageProvider.StoreLogo}></a>
</div>

<style>
    .brand-logo-link {
        display: flex;
        width: 200px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .store-logo {
        width: 54px;
        height: 36px;
    }

    .msft-logo {
        width: 120px;
        height: 36px;
    }

    .msft-logo,
    .store-logo {
        display: block;
        margin: 0px auto;
    }

</style>